:root {
	--amber-1: oklch(0.994 0.0028 84.62);
	--amber-2: oklch(0.9862 0.024 100.26);
	--amber-3: oklch(0.969 0.0686 100.36);
	--amber-4: oklch(0.9454 0.1043 98.19);
	--amber-5: oklch(0.9184 0.133285 98.3956);
	--amber-6: oklch(0.8812 0.1237 93.24);
	--amber-7: oklch(0.8274 0.122 86.18);
	--amber-8: oklch(0.7582 0.1404 76.7);
	--amber-9: oklch(0.8562 0.1778 81.37);
	--amber-10: oklch(0.8315 0.1679 80.94);
	--amber-11: oklch(0.5692 0.143894 67.2809);
	--amber-12: oklch(0.3519 0.0485 53.74);

	--amber-alpha-1: oklch(0.6615 0.1599 73.44 / 1.6%);
	--amber-alpha-2: oklch(0.843 0.2027 100.04 / 7.9%);
	--amber-alpha-3: oklch(0.8863 0.2131 99.88 / 22%);
	--amber-alpha-4: oklch(0.8685 0.206 94.93 / 35%);
	--amber-alpha-5: oklch(0.8473 0.2013 95.78 / 47.5%);
	--amber-alpha-6: oklch(0.7764 0.183 86.8 / 49.5%);
	--amber-alpha-7: oklch(0.7037 0.16865005268016012 78.17190026085802 / 55.7%);
	--amber-alpha-8: oklch(0.6665 0.167553 68.1274 / 69.9%);
	--amber-alpha-9: oklch(0.8162 0.19869663587212133 74.04649140799745 / 74.2%);
	--amber-alpha-10: oklch(0.7801 0.1904 73.42 / 72.6%);
	--amber-alpha-11: oklch(0.5692 0.143894 67.2809);
	--amber-alpha-12: oklch(0.3519 0.0485 53.74);
}

.dark,
[data-theme="dark"] {
	--amber-1: oklch(0.1836 0.0126 77.27);
	--amber-2: oklch(0.2117 0.0179 78.68);
	--amber-3: oklch(0.2575 0.0437 74.56);
	--amber-4: oklch(0.2962 0.071462 76.2475);
	--amber-5: oklch(0.3369 0.0812 76.41);
	--amber-6: oklch(0.3871 0.0784 75.09);
	--amber-7: oklch(0.4532 0.0817 74.55);
	--amber-8: oklch(0.536 0.0964 73.57);
	--amber-9: oklch(0.8562 0.1778 81.37);
	--amber-10: oklch(0.9015 0.2065 96.98);
	--amber-11: oklch(0.8706 0.1754 85.07);
	--amber-12: oklch(0.9349 0.0715 85.99);

	--amber-alpha-1: oklch(0.68 0.2614 36.13 / 1.7%);
	--amber-alpha-2: oklch(0.7973 0.197709 70.4069 / 4.7%);
	--amber-alpha-3: oklch(0.7803 0.2042 62.66 / 11.8%);
	--amber-alpha-4: oklch(0.7635 0.2099 57.42 / 18.5%);
	--amber-alpha-5: oklch(0.7771 0.2051691695460112 61.65999167654232 / 24%);
	--amber-alpha-6: oklch(0.8051 0.195572 69.3308 / 29.9%);
	--amber-alpha-7: oklch(0.8312 0.1753 72.4 / 38.3%);
	--amber-alpha-8: oklch(0.8376 0.1672 73.3 / 50%);
	--amber-alpha-9: oklch(0.8558 0.1779 81.25);
	--amber-alpha-10: oklch(0.902 0.2068 97.11);
	--amber-alpha-11: oklch(0.8706 0.1754 85.07);
	--amber-alpha-12: oklch(0.9349 0.0715 85.99);
}

@theme inline {
	--color-amber-1: var(--amber-1);
	--color-amber-2: var(--amber-2);
	--color-amber-3: var(--amber-3);
	--color-amber-4: var(--amber-4);
	--color-amber-5: var(--amber-5);
	--color-amber-6: var(--amber-6);
	--color-amber-7: var(--amber-7);
	--color-amber-8: var(--amber-8);
	--color-amber-9: var(--amber-9);
	--color-amber-10: var(--amber-10);
	--color-amber-11: var(--amber-11);
	--color-amber-12: var(--amber-12);

	--color-amber-alpha-1: var(--amber-alpha-1);
	--color-amber-alpha-2: var(--amber-alpha-2);
	--color-amber-alpha-3: var(--amber-alpha-3);
	--color-amber-alpha-4: var(--amber-alpha-4);
	--color-amber-alpha-5: var(--amber-alpha-5);
	--color-amber-alpha-6: var(--amber-alpha-6);
	--color-amber-alpha-7: var(--amber-alpha-7);
	--color-amber-alpha-8: var(--amber-alpha-8);
	--color-amber-alpha-9: var(--amber-alpha-9);
	--color-amber-alpha-10: var(--amber-alpha-10);
	--color-amber-alpha-11: var(--amber-alpha-11);
	--color-amber-alpha-12: var(--amber-alpha-12);
}
