:root {
  --grass-1: oklch(0.994 0.0053 146.39);
  --grass-2: oklch(0.982 0.0092 145.93);
  --grass-3: oklch(0.9608 0.0231 145.27);
  --grass-4: oklch(0.9342 0.037 146.18);
  --grass-5: oklch(0.9013 0.0529 146.35);
  --grass-6: oklch(0.8578 0.0714 146.83);
  --grass-7: oklch(0.7985 0.095 147.47);
  --grass-8: oklch(0.7165 0.13 148.35);
  --grass-9: oklch(0.6516 0.1469 147.37);
  --grass-10: oklch(0.6138 0.141578 147.3178);
  --grass-11: oklch(0.5268 0.1296 147.18);
  --grass-12: oklch(0.3268 0.0535 148.58);

  --grass-alpha-1: oklch(0.6889 0.2969 145.68 / 1.6%);
  --grass-alpha-2: oklch(0.5556 0.2379 145.71 / 3.6%);
  --grass-alpha-3: oklch(0.5642 0.241 145.22 / 8.3%);
  --grass-alpha-4: oklch(0.5557 0.2387 145.43 / 13.4%);
  --grass-alpha-5: oklch(0.5417 0.2317 145.3 / 19.7%);
  --grass-alpha-6: oklch(0.5102 0.2191 145.36 / 27.5%);
  --grass-alpha-7: oklch(0.495 0.2136 145.56 / 37.7%);
  --grass-alpha-8: oklch(0.4835 0.2090585730422993 145.78066514171186 / 52.2%);
  --grass-alpha-9: oklch(0.4599 0.199 145.52 / 62.4%);
  --grass-alpha-10: oklch(0.4243 0.183457 145.4898 / 65.9%);
  --grass-alpha-11: oklch(0.5268 0.1296 147.18);
  --grass-alpha-12: oklch(0.3268 0.0535 148.58);
}

.dark,
[data-theme="dark"] {
  --grass-1: oklch(0.1883 0.0141 155.81);
  --grass-2: oklch(0.211 0.0141 151.48);
  --grass-3: oklch(0.2671 0.03 150.73);
  --grass-4: oklch(0.3191 0.0522 150.41);
  --grass-5: oklch(0.3668 0.0619 149.91);
  --grass-6: oklch(0.4164 0.0721 149.34);
  --grass-7: oklch(0.4683 0.0835 148.89);
  --grass-8: oklch(0.5238 0.0973 148.25);
  --grass-9: oklch(0.6516 0.1469 147.37);
  --grass-10: oklch(0.6898 0.1454 147.64);
  --grass-11: oklch(0.7798 0.142 148.46);
  --grass-12: oklch(0.911 0.078 144.91);

  --grass-alpha-1: oklch(0.844 0.3635929563019778 145.89650387458596 / 1.7%);
  --grass-alpha-2: oklch(0.8853 0.2273 151.75 / 3.8%);
  --grass-alpha-3: oklch(0.8911 0.2118 149.37 / 10.6%);
  --grass-alpha-4: oklch(0.8872 0.2293 149.31 / 16.9%);
  --grass-alpha-5: oklch(0.8962 0.2145786388891035 149.12415301234964 / 22.7%);
  --grass-alpha-6: oklch(0.9012 0.203 148.81 / 29%);
  --grass-alpha-7: oklch(0.9043 0.1968 148.26 / 35.8%);
  --grass-alpha-8: oklch(0.9051 0.19486 148.2873 / 43.3%);
  --grass-alpha-9: oklch(0.8979 0.2158 147.21 / 62.2%);
  --grass-alpha-10: oklch(0.9007 0.2002 147.55 / 67.3%);
  --grass-alpha-11: oklch(0.7798 0.142 148.46);
  --grass-alpha-12: oklch(0.911 0.078 144.91);
}

@theme inline {
  --color-grass-1: var(--grass-1);
  --color-grass-2: var(--grass-2);
  --color-grass-3: var(--grass-3);
  --color-grass-4: var(--grass-4);
  --color-grass-5: var(--grass-5);
  --color-grass-6: var(--grass-6);
  --color-grass-7: var(--grass-7);
  --color-grass-8: var(--grass-8);
  --color-grass-9: var(--grass-9);
  --color-grass-10: var(--grass-10);
  --color-grass-11: var(--grass-11);
  --color-grass-12: var(--grass-12);

  --color-grass-alpha-1: var(--grass-alpha-1);
  --color-grass-alpha-2: var(--grass-alpha-2);
  --color-grass-alpha-3: var(--grass-alpha-3);
  --color-grass-alpha-4: var(--grass-alpha-4);
  --color-grass-alpha-5: var(--grass-alpha-5);
  --color-grass-alpha-6: var(--grass-alpha-6);
  --color-grass-alpha-7: var(--grass-alpha-7);
  --color-grass-alpha-8: var(--grass-alpha-8);
  --color-grass-alpha-9: var(--grass-alpha-9);
  --color-grass-alpha-10: var(--grass-alpha-10);
  --color-grass-alpha-11: var(--grass-alpha-11);
  --color-grass-alpha-12: var(--grass-alpha-12);
}
