:root {
	--green-1: oklch(0.9943 0.0043 159.06);
	--green-2: oklch(0.9816 0.0091 155.31);
	--green-3: oklch(0.9588 0.0229 156.38);
	--green-4: oklch(0.9326 0.036406 156.601);
	--green-5: oklch(0.8995 0.0496 157.22);
	--green-6: oklch(0.857 0.0645 157.89);
	--green-7: oklch(0.7977 0.083883 159.0192);
	--green-8: oklch(0.7144 0.1124 160.5987);
	--green-9: oklch(0.6405 0.1327 157.75);
	--green-10: oklch(0.6112 0.1263 158.31);
	--green-11: oklch(0.529 0.133 158.33);
	--green-12: oklch(0.3218 0.0474 164.62);

	--green-alpha-1: oklch(0.6928 0.2644 150.02 / 1.6%);
	--green-alpha-2: oklch(0.557 0.2253 147.65 / 3.6%);
	--green-alpha-3: oklch(0.579 0.2336 147.96 / 8.7%);
	--green-alpha-4: oklch(0.5732 0.2311 148.06 / 14.2%);
	--green-alpha-5: oklch(0.5401 0.2123 149.05 / 20.4%);
	--green-alpha-6: oklch(0.5236 0.2039 149.39 / 28.3%);
	--green-alpha-7: oklch(0.5007 0.19 150.37 / 38.9%);
	--green-alpha-8: oklch(0.4961 0.1782 152.8 / 55%);
	--green-alpha-9: oklch(0.4779 0.1783 151.17 / 66.7%);
	--green-alpha-10: oklch(0.4486 0.166092 151.5047 / 69.1%);
	--green-alpha-11: oklch(0.529 0.133 158.33);
	--green-alpha-12: oklch(0.3218 0.0474 164.62);
}

.dark,
[data-theme="dark"] {
	--green-1: oklch(0.1888 0.0127 163.27);
	--green-2: oklch(0.2127 0.016 162.22);
	--green-3: oklch(0.2714 0.0388 162.67);
	--green-4: oklch(0.3182 0.0573 161.54);
	--green-5: oklch(0.3648 0.066 161.11);
	--green-6: oklch(0.4134 0.0732 160.73);
	--green-7: oklch(0.4674 0.0828 159.91);
	--green-8: oklch(0.5275 0.0962 159.19);
	--green-9: oklch(0.6405 0.1327 157.75);
	--green-10: oklch(0.6755 0.1412 157.56);
	--green-11: oklch(0.7797 0.1657 157.23);
	--green-12: oklch(0.9048 0.0828 158.28);

	--green-alpha-1: oklch(0.847 0.337033 148.6656 / 1.7%);
	--green-alpha-2: oklch(0.8644 0.2354 157.9 / 4.3%);
	--green-alpha-3: oklch(0.8789 0.227 159.12 / 11.4%);
	--green-alpha-4: oklch(0.875 0.2371 158.56 / 17.3%);
	--green-alpha-5: oklch(0.8853 0.2179 159.8 / 23.2%);
	--green-alpha-6: oklch(0.8935 0.1991501285151957 160.0151781803083 / 29%);
	--green-alpha-7: oklch(0.8978 0.1915 158.67 / 36.2%);
	--green-alpha-8: oklch(0.9003 0.18546745385859056 159.09057116693145 / 44.2%);
	--green-alpha-9: oklch(0.8927 0.1981 157.38 / 61%);
	--green-alpha-10: oklch(0.8955 0.199054 157.0981 / 66%);
	--green-alpha-11: oklch(0.7797 0.1657 157.23);
	--green-alpha-12: oklch(0.9048 0.0828 158.28);
}

@theme inline {
	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-green-5: var(--green-5);
	--color-green-6: var(--green-6);
	--color-green-7: var(--green-7);
	--color-green-8: var(--green-8);
	--color-green-9: var(--green-9);
	--color-green-10: var(--green-10);
	--color-green-11: var(--green-11);
	--color-green-12: var(--green-12);

	--color-green-alpha-1: var(--green-alpha-1);
	--color-green-alpha-2: var(--green-alpha-2);
	--color-green-alpha-3: var(--green-alpha-3);
	--color-green-alpha-4: var(--green-alpha-4);
	--color-green-alpha-5: var(--green-alpha-5);
	--color-green-alpha-6: var(--green-alpha-6);
	--color-green-alpha-7: var(--green-alpha-7);
	--color-green-alpha-8: var(--green-alpha-8);
	--color-green-alpha-9: var(--green-alpha-9);
	--color-green-alpha-10: var(--green-alpha-10);
	--color-green-alpha-11: var(--green-alpha-11);
	--color-green-alpha-12: var(--green-alpha-12);
}
