:root {
  --information-1: oklch(0.9932 0.0033 247.64);
  --information-2: oklch(0.9815 0.0096 243.26);
  --information-3: oklch(0.96 0.0199 236.71);
  --information-4: oklch(0.9373 0.03707151722297432 239.02663747595278);
  --information-5: oklch(0.906 0.0535 242.8);
  --information-6: oklch(0.8638 0.0686 243.18);
  --information-7: oklch(0.8092 0.0884 243.34);
  --information-8: oklch(0.7348 0.1211 243);
  --information-9: oklch(0.6493 0.193037 251.8132);
  --information-10: oklch(0.6211 0.1837 251.92);
  --information-11: oklch(0.5577 0.1889 253.01);
  --information-12: oklch(0.324 0.0965 258.96);

  --information-alpha-1: oklch(0.622 0.2275 250.44 / 1.6%);
  --information-alpha-2: oklch(0.604 0.1987 245.81 / 4%);
  --information-alpha-3: oklch(0.601 0.203368 246.9086 / 8.7%);
  --information-alpha-4: oklch(0.6375 0.2204 247.77 / 14.6%);
  --information-alpha-5: oklch(0.6124 0.2261 250.48 / 21.2%);
  --information-alpha-6: oklch(0.5801 0.2167 250.95 / 29.1%);
  --information-alpha-7: oklch(0.5515 0.2063 251.02 / 39.3%);
  --information-alpha-8: oklch(0.5468 0.20368283613889723 250.75724527647287 / 55%);
  --information-alpha-9: oklch(0.5636 0.24246 255.635 / 75.3%);
  --information-alpha-10: oklch(0.5293 0.2284 255.73 / 76.5%);
  --information-alpha-11: oklch(0.5577 0.1889 253.01);
  --information-alpha-12: oklch(0.324 0.0965 258.96);
}

.dark,
[data-theme='dark'] {
  --information-1: oklch(0.1932 0.0258 256.79);
  --information-2: oklch(0.213 0.0295 258.84);
  --information-3: oklch(0.2741 0.0669 253.96);
  --information-4: oklch(0.317 0.1002 248.3);
  --information-5: oklch(0.3649 0.1084 249.72);
  --information-6: oklch(0.4161 0.1125 251.66);
  --information-7: oklch(0.4748 0.1211 252.84);
  --information-8: oklch(0.5413 0.1396 253.21);
  --information-9: oklch(0.6493 0.193037 251.8132);
  --information-10: oklch(0.689 0.1697 251.46);
  --information-11: oklch(0.7679 0.134711 248.8439);
  --information-12: oklch(0.9072 0.051146 238.2734);

  --information-alpha-1: oklch(0.5393 0.27488082739511527 259.84953355223035 / 5.9%);
  --information-alpha-2: oklch(0.5841 0.2408 257.01 / 8.5%);
  --information-alpha-3: oklch(0.6003 0.23678375836511337 255.78215640799976 / 21.9%);
  --information-alpha-4: oklch(0.5984 0.2401 253.45 / 32.4%);
  --information-alpha-5: oklch(0.6221 0.2259 251.84 / 40%);
  --information-alpha-6: oklch(0.6533 0.2051 251.99 / 47.5%);
  --information-alpha-7: oklch(0.6735 0.1912 252.94 / 57.2%);
  --information-alpha-8: oklch(0.6797 0.1869 253.3 / 70.2%);
  --information-alpha-9: oklch(0.6631 0.1973 251.51 / 96.7%);
  --information-alpha-10: oklch(0.7045 0.172566 251.4437 / 97.1%);
  --information-alpha-11: oklch(0.7679 0.134711 248.8439);
  --information-alpha-12: oklch(0.9072 0.051146 238.2734);
}

@theme inline {
  --color-information-1: var(--information-1);
  --color-information-2: var(--information-2);
  --color-information-3: var(--information-3);
  --color-information-4: var(--information-4);
  --color-information-5: var(--information-5);
  --color-information-6: var(--information-6);
  --color-information-7: var(--information-7);
  --color-information-8: var(--information-8);
  --color-information-9: var(--information-9);
  --color-information-10: var(--information-10);
  --color-information-11: var(--information-11);
  --color-information-12: var(--information-12);

  --color-information-alpha-1: var(--information-alpha-1);
  --color-information-alpha-2: var(--information-alpha-2);
  --color-information-alpha-3: var(--information-alpha-3);
  --color-information-alpha-4: var(--information-alpha-4);
  --color-information-alpha-5: var(--information-alpha-5);
  --color-information-alpha-6: var(--information-alpha-6);
  --color-information-alpha-7: var(--information-alpha-7);
  --color-information-alpha-8: var(--information-alpha-8);
  --color-information-alpha-9: var(--information-alpha-9);
  --color-information-alpha-10: var(--information-alpha-10);
  --color-information-alpha-11: var(--information-alpha-11);
  --color-information-alpha-12: var(--information-alpha-12);
}
