:root {
	--neutral-1: oklch(0.9909 0 0);
	--neutral-2: oklch(0.981 0 0);
	--neutral-3: oklch(0.9535 0 0);
	--neutral-4: oklch(0.9296 0 167.47);
	--neutral-5: oklch(0.9079 0 180);
	--neutral-6: oklch(0.8838 0 0);
	--neutral-7: oklch(0.8508 0 213.69);
	--neutral-8: oklch(0.791 0 180);
	--neutral-9: oklch(0.6435 0 0);
	--neutral-10: oklch(0.6085 0 0);
	--neutral-11: oklch(0.5031 0 187.13);
	--neutral-12: oklch(0.243 0 180);

	--neutral-alpha-1: oklch(0 0 0 / 1.2%);
	--neutral-alpha-2: oklch(0 0 0 / 2.4%);
	--neutral-alpha-3: oklch(0 0 0 / 6.3%);
	--neutral-alpha-4: oklch(0 0 0 / 9%);
	--neutral-alpha-5: oklch(0 0 0 / 12.2%);
	--neutral-alpha-6: oklch(0 0 0 / 15.3%);
	--neutral-alpha-7: oklch(0 0 0 / 19.2%);
	--neutral-alpha-8: oklch(0 0 0 / 26.7%);
	--neutral-alpha-9: oklch(0 0 0 / 44.7%);
	--neutral-alpha-10: oklch(0 0 0 / 48.6%);
	--neutral-alpha-11: oklch(0 0 0 / 60.8%);
	--neutral-alpha-12: oklch(0 0 0 / 87.5%);
}

.dark,
[data-theme="dark"] {
	--neutral-1: oklch(0.178 0 0);
	--neutral-2: oklch(0.2134 0 180);
	--neutral-3: oklch(0.2537 0 180);
	--neutral-4: oklch(0.2832 0 191.31);
	--neutral-5: oklch(0.313 0 180);
	--neutral-6: oklch(0.349 0 180);
	--neutral-7: oklch(0.4023 0 164.05);
	--neutral-8: oklch(0.4877 0 180);
	--neutral-9: oklch(0.5379 0 225);
	--neutral-10: oklch(0.5843 0 191.31);
	--neutral-11: oklch(0.77 0 180);
	--neutral-12: oklch(0.9489 0 0);

	--neutral-alpha-1: oklch(0 0 0 / 0%);
	--neutral-alpha-2: oklch(1 0 180 / 3.4%);
	--neutral-alpha-3: oklch(1 0 180 / 7.1%);
	--neutral-alpha-4: oklch(1 0 180 / 10.5%);
	--neutral-alpha-5: oklch(1 0 180 / 13.4%);
	--neutral-alpha-6: oklch(1 0 180 / 17.2%);
	--neutral-alpha-7: oklch(1 0 180 / 23.1%);
	--neutral-alpha-8: oklch(1 0 180 / 33.2%);
	--neutral-alpha-9: oklch(1 0 180 / 39.1%);
	--neutral-alpha-10: oklch(1 0 180 / 44.5%);
	--neutral-alpha-11: oklch(1 0 180 / 68.5%);
	--neutral-alpha-12: oklch(1 0 180 / 92.9%);
}

@theme inline {
	--color-neutral-1: var(--neutral-1);
	--color-neutral-2: var(--neutral-2);
	--color-neutral-3: var(--neutral-3);
	--color-neutral-4: var(--neutral-4);
	--color-neutral-5: var(--neutral-5);
	--color-neutral-6: var(--neutral-6);
	--color-neutral-7: var(--neutral-7);
	--color-neutral-8: var(--neutral-8);
	--color-neutral-9: var(--neutral-9);
	--color-neutral-10: var(--neutral-10);
	--color-neutral-11: var(--neutral-11);
	--color-neutral-12: var(--neutral-12);

	--color-neutral-alpha-1: var(--neutral-alpha-1);
	--color-neutral-alpha-2: var(--neutral-alpha-2);
	--color-neutral-alpha-3: var(--neutral-alpha-3);
	--color-neutral-alpha-4: var(--neutral-alpha-4);
	--color-neutral-alpha-5: var(--neutral-alpha-5);
	--color-neutral-alpha-6: var(--neutral-alpha-6);
	--color-neutral-alpha-7: var(--neutral-alpha-7);
	--color-neutral-alpha-8: var(--neutral-alpha-8);
	--color-neutral-alpha-9: var(--neutral-alpha-9);
	--color-neutral-alpha-10: var(--neutral-alpha-10);
	--color-neutral-alpha-11: var(--neutral-alpha-11);
	--color-neutral-alpha-12: var(--neutral-alpha-12);
}
