:root {
  --pink-1: oklch(0.9941 0.004 336.25);
  --pink-2: oklch(0.9831 0.0094 339.97);
  --pink-3: oklch(0.9543 0.0275 340.64);
  --pink-4: oklch(0.9251 0.0416 340.66);
  --pink-5: oklch(0.8931 0.0543 340.86);
  --pink-6: oklch(0.8554 0.0669 340.9);
  --pink-7: oklch(0.8091 0.0833 341.21);
  --pink-8: oklch(0.7517 0.1067 341.63);
  --pink-9: oklch(0.6167 0.2077 346.05);
  --pink-10: oklch(0.5957 0.2072 346.5);
  --pink-11: oklch(0.5566 0.2063 347.33);
  --pink-12: oklch(0.35 0.129 345.45);

  --pink-alpha-1: oklch(0.5413 0.2662 331.45 / 1.2%);
  --pink-alpha-2: oklch(0.5548 0.2565 350.9 / 3.2%);
  --pink-alpha-3: oklch(0.5601 0.261152 349.6724 / 8.3%);
  --pink-alpha-4: oklch(0.5444 0.2536 349.95 / 13.4%);
  --pink-alpha-5: oklch(0.5028 0.2344 350.2 / 18.5%);
  --pink-alpha-6: oklch(0.4771 0.2227 349.55 / 24.4%);
  --pink-alpha-7: oklch(0.466 0.2176 349.3 / 31.8%);
  --pink-alpha-8: oklch(0.4538 0.2125 348.35 / 41.2%);
  --pink-alpha-9: oklch(0.5112 0.2377 351.88 / 70.2%);
  --pink-alpha-10: oklch(0.4957 0.2302 352.35 / 73%);
  --pink-alpha-11: oklch(0.5566 0.2063 347.33);
  --pink-alpha-12: oklch(0.35 0.129 345.45);
}

.dark,
[data-theme="dark"] {
  --pink-1: oklch(0.1907 0.0174 334.93);
  --pink-2: oklch(0.2074 0.0313 338.17);
  --pink-3: oklch(0.2614 0.0612 337.46);
  --pink-4: oklch(0.2994 0.0975 340.14);
  --pink-5: oklch(0.338 0.1041 340.64);
  --pink-6: oklch(0.389 0.1072 341.55);
  --pink-7: oklch(0.4587 0.1193 342.62);
  --pink-8: oklch(0.5454 0.1449 344.11);
  --pink-9: oklch(0.6167 0.2077 346.05);
  --pink-10: oklch(0.65 0.197 346.18);
  --pink-11: oklch(0.7887 0.19 350.74);
  --pink-12: oklch(0.9053 0.0586 343.23);

  --pink-alpha-1: oklch(0.6999 0.3335 338.79 / 3%);
  --pink-alpha-2: oklch(0.7109 0.31017091741744407 343.43695095041255 / 5.9%);
  --pink-alpha-3: oklch(0.7365 0.2994 338.2 / 13.9%);
  --pink-alpha-4: oklch(0.7123 0.3145 342.09 / 21.9%);
  --pink-alpha-5: oklch(0.727 0.2938 342.1 / 27.4%);
  --pink-alpha-6: oklch(0.753 0.257066 342.5379 / 33.7%);
  --pink-alpha-7: oklch(0.7698 0.231192 343.7594 / 44.2%);
  --pink-alpha-8: oklch(0.775 0.2225 344.46 / 58.5%);
  --pink-alpha-9: oklch(0.7416 0.2579120337308123 346.2462766866137 / 76.1%);
  --pink-alpha-10: oklch(0.7588 0.235093 346.6908 / 79.5%);
  --pink-alpha-11: oklch(0.7887 0.19 350.74);
  --pink-alpha-12: oklch(0.9053 0.0586 343.23);
}

@theme inline {
  --color-pink-1: var(--pink-1);
  --color-pink-2: var(--pink-2);
  --color-pink-3: var(--pink-3);
  --color-pink-4: var(--pink-4);
  --color-pink-5: var(--pink-5);
  --color-pink-6: var(--pink-6);
  --color-pink-7: var(--pink-7);
  --color-pink-8: var(--pink-8);
  --color-pink-9: var(--pink-9);
  --color-pink-10: var(--pink-10);
  --color-pink-11: var(--pink-11);
  --color-pink-12: var(--pink-12);

  --color-pink-alpha-1: var(--pink-alpha-1);
  --color-pink-alpha-2: var(--pink-alpha-2);
  --color-pink-alpha-3: var(--pink-alpha-3);
  --color-pink-alpha-4: var(--pink-alpha-4);
  --color-pink-alpha-5: var(--pink-alpha-5);
  --color-pink-alpha-6: var(--pink-alpha-6);
  --color-pink-alpha-7: var(--pink-alpha-7);
  --color-pink-alpha-8: var(--pink-alpha-8);
  --color-pink-alpha-9: var(--pink-alpha-9);
  --color-pink-alpha-10: var(--pink-alpha-10);
  --color-pink-alpha-11: var(--pink-alpha-11);
  --color-pink-alpha-12: var(--pink-alpha-12);
}
