:root {
  --yellow-1: oklch(0.9928 0.0052 106.49);
  --yellow-2: oklch(0.9884 0.025 102.92);
  --yellow-3: oklch(0.974 0.0845 104.36);
  --yellow-4: oklch(0.9527 0.1166 101.74);
  --yellow-5: oklch(0.9251 0.1409 98.2);
  --yellow-6: oklch(0.8809 0.1339 95.42);
  --yellow-7: oklch(0.8355 0.1203 92.79);
  --yellow-8: oklch(0.7661 0.137 89.85);
  --yellow-9: oklch(0.9266 0.20859885364417555 102.14293197818911);
  --yellow-10: oklch(0.8967 0.185118 97.5307);
  --yellow-11: oklch(0.5744 0.1364 81.69);
  --yellow-12: oklch(0.3578 0.046 86.63);

  --yellow-alpha-1: oklch(0.7187 0.1811 110.21 / 2.4%);
  --yellow-alpha-2: oklch(0.8813 0.2124 100.62 / 7.9%);
  --yellow-alpha-3: oklch(0.9245 0.2268 104.56 / 25.1%);
  --yellow-alpha-4: oklch(0.898 0.2162 100.16 / 37.3%);
  --yellow-alpha-5: oklch(0.8666 0.2054 94.45 / 49.1%);
  --yellow-alpha-6: oklch(0.7897 0.1864 90.87 / 52.6%);
  --yellow-alpha-7: oklch(0.7076 0.166905 87.8188 / 54.2%);
  --yellow-alpha-8: oklch(0.6676 0.1578 84.32 / 68.7%);
  --yellow-alpha-9: oklch(0.9143 0.2207 100.7 / 78.1%);
  --yellow-alpha-10: oklch(0.8647 0.2049 93.97 / 71%);
  --yellow-alpha-11: oklch(0.5744 0.1364 81.69);
  --yellow-alpha-12: oklch(0.3578 0.046 86.63);
}

.dark,
[data-theme="dark"] {
  --yellow-1: oklch(0.1811 0.013 86.01);
  --yellow-2: oklch(0.2088 0.017 92.09);
  --yellow-3: oklch(0.259 0.0466 90.29);
  --yellow-4: oklch(0.2926 0.0693715007145051 94.19852761732605);
  --yellow-5: oklch(0.3334 0.0790797438482126 94.58997823913316);
  --yellow-6: oklch(0.3843 0.0774 93.3);
  --yellow-7: oklch(0.4516 0.0809 91.5);
  --yellow-8: oklch(0.5349 0.0951 89.93);
  --yellow-9: oklch(0.9266 0.20859885364417555 102.14293197818911);
  --yellow-10: oklch(0.9711 0.1822 109.36);
  --yellow-11: oklch(0.9002 0.1664 101.64);
  --yellow-12: oklch(0.9413 0.0747 101.04);

  --yellow-alpha-1: oklch(0.6899 0.2405 40.88 / 1.3%);
  --yellow-alpha-2: oklch(0.8627 0.20347062386842885 88.64962884471753 / 3.8%);
  --yellow-alpha-3: oklch(0.8255 0.1981 77.71 / 11%);
  --yellow-alpha-4: oklch(0.8393 0.1992 81.92 / 15.2%);
  --yellow-alpha-5: oklch(0.8502 0.200857 85.1316 / 20.2%);
  --yellow-alpha-6: oklch(0.8743 0.203 91.29 / 26.1%);
  --yellow-alpha-7: oklch(0.8845 0.1844 90.37 / 34.5%);
  --yellow-alpha-8: oklch(0.8856 0.174806 89.1095 / 46.3%);
  --yellow-alpha-9: oklch(0.9276 0.2091 102.36);
  --yellow-alpha-10: oklch(0.971 0.1824 109.36);
  --yellow-alpha-11: oklch(0.9002 0.1664 101.64);
  --yellow-alpha-12: oklch(0.9413 0.0747 101.04);
}

@theme inline {
  --color-yellow-1: var(--yellow-1);
  --color-yellow-2: var(--yellow-2);
  --color-yellow-3: var(--yellow-3);
  --color-yellow-4: var(--yellow-4);
  --color-yellow-5: var(--yellow-5);
  --color-yellow-6: var(--yellow-6);
  --color-yellow-7: var(--yellow-7);
  --color-yellow-8: var(--yellow-8);
  --color-yellow-9: var(--yellow-9);
  --color-yellow-10: var(--yellow-10);
  --color-yellow-11: var(--yellow-11);
  --color-yellow-12: var(--yellow-12);

  --color-yellow-alpha-1: var(--yellow-alpha-1);
  --color-yellow-alpha-2: var(--yellow-alpha-2);
  --color-yellow-alpha-3: var(--yellow-alpha-3);
  --color-yellow-alpha-4: var(--yellow-alpha-4);
  --color-yellow-alpha-5: var(--yellow-alpha-5);
  --color-yellow-alpha-6: var(--yellow-alpha-6);
  --color-yellow-alpha-7: var(--yellow-alpha-7);
  --color-yellow-alpha-8: var(--yellow-alpha-8);
  --color-yellow-alpha-9: var(--yellow-alpha-9);
  --color-yellow-alpha-10: var(--yellow-alpha-10);
  --color-yellow-alpha-11: var(--yellow-alpha-11);
  --color-yellow-alpha-12: var(--yellow-alpha-12);
}
