@import "tailwindcss";
@import "../styles/variables/color.css";
@import "../styles/variables/typography.css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@plugin "tailwindcss-react-aria-components";

@theme {
  --color-fd-background: var(--color-neutral-1);
  --color-fd-foreground: var(--color-neutral-12);
  --color-fd-muted: var(--color-neutral-2);
  --color-fd-muted-foreground: var(--color-neutral-11);
  --color-fd-popover: var(--color-neutral-2);
  --color-fd-popover-foreground: var(--color-neutral-12);
  --color-fd-card: var(--color-neutral-2);
  --color-fd-card-foreground: var(--color-neutral-12);
  --color-fd-border: var(--color-neutral-6);
  --color-fd-primary: var(--color-primary-9);
  --color-fd-primary-foreground: var(--color-primary-1);
  --color-fd-secondary: var(--color-neutral-1);
  --color-fd-secondary-foreground: var(--color-neutral-12);
  --color-fd-accent: var(--color-neutral-3);
  --color-fd-accent-foreground: var(--color-neutral-12);
  --color-fd-ring: var(--color-neutral-12);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
