@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "../styles/variables/aspect-ratio.css";
@import "../styles/variables/typography.css";
@import "../styles/variables/colors/black.css";
@import "../styles/variables/colors/white.css";
@import "../styles/variables/colors/success.css";
@import "../styles/variables/colors/warning.css";
@import "../styles/variables/colors/information.css";
@import "../styles/variables/colors/primary.css";
@import "../styles/variables/colors/neutral.css";
@import "../styles/variables/colors/danger.css";
@plugin "tailwindcss-react-aria-components";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
