@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@plugin "tailwindcss-react-aria-components";

:root {
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);

  --light: oklch(0.9489 0 0);
  --dark: oklch(0.243 0 180);

  --primary-1: oklch(0.9932 0.0033 247.64);
  --primary-2: oklch(0.9815 0.0096 243.26);
  --primary-3: oklch(0.96 0.0199 236.71);
  --primary-4: oklch(0.9373 0.03707151722297432 239.02663747595278);
  --primary-5: oklch(0.906 0.0535 242.8);
  --primary-6: oklch(0.8638 0.0686 243.18);
  --primary-7: oklch(0.8092 0.0884 243.34);
  --primary-8: oklch(0.7348 0.1211 243);
  --primary-9: oklch(0.6493 0.193037 251.8132);
  --primary-10: oklch(0.6211 0.1837 251.92);
  --primary-11: oklch(0.5577 0.1889 253.01);
  --primary-12: oklch(0.324 0.0965 258.96);

  --neutral-1: oklch(0.9909 0 0);
  --neutral-2: oklch(0.981 0 0);
  --neutral-3: oklch(0.9535 0 0);
  --neutral-4: oklch(0.9296 0 167.47);
  --neutral-5: oklch(0.9079 0 180);
  --neutral-6: oklch(0.8838 0 0);
  --neutral-7: oklch(0.8508 0 213.69);
  --neutral-8: oklch(0.791 0 180);
  --neutral-9: oklch(0.6435 0 0);
  --neutral-10: oklch(0.6085 0 0);
  --neutral-11: oklch(0.5031 0 187.13);
  --neutral-12: oklch(0.243 0 180);

  --danger-1: oklch(0.9935 0.0031 22.75);
  --danger-2: oklch(0.9832 0.0083 16.02);
  --danger-3: oklch(0.9561 0.021 16.23);
  --danger-4: oklch(0.9281 0.0473 16.68);
  --danger-5: oklch(0.8961 0.062 17.33);
  --danger-6: oklch(0.857 0.0746 17.87);
  --danger-7: oklch(0.8072 0.0895 18.44);
  --danger-8: oklch(0.745 0.1133 19.09);
  --danger-9: oklch(0.6254 0.1935 22.98);
  --danger-10: oklch(0.5999 0.1952 23.89);
  --danger-11: oklch(0.5572 0.1978 25.13);
  --danger-12: oklch(0.3391 0.109 16.68);

  --warning-1: oklch(0.994 0.0028 84.62);
  --warning-2: oklch(0.9862 0.024 100.26);
  --warning-3: oklch(0.969 0.0686 100.36);
  --warning-4: oklch(0.9454 0.1043 98.19);
  --warning-5: oklch(0.9184 0.133285 98.3956);
  --warning-6: oklch(0.8812 0.1237 93.24);
  --warning-7: oklch(0.8274 0.122 86.18);
  --warning-8: oklch(0.7582 0.1404 76.7);
  --warning-9: oklch(0.8562 0.1778 81.37);
  --warning-10: oklch(0.8315 0.1679 80.94);
  --warning-11: oklch(0.5692 0.143894 67.2809);
  --warning-12: oklch(0.3519 0.0485 53.74);

  --success-1: oklch(0.994 0.0053 146.39);
  --success-2: oklch(0.982 0.0092 145.93);
  --success-3: oklch(0.9608 0.0231 145.27);
  --success-4: oklch(0.9342 0.037 146.18);
  --success-5: oklch(0.9013 0.0529 146.35);
  --success-6: oklch(0.8578 0.0714 146.83);
  --success-7: oklch(0.7985 0.095 147.47);
  --success-8: oklch(0.7165 0.13 148.35);
  --success-9: oklch(0.6516 0.1469 147.37);
  --success-10: oklch(0.6138 0.141578 147.3178);
  --success-11: oklch(0.5268 0.1296 147.18);
  --success-12: oklch(0.3268 0.0535 148.58);

  --information-1: oklch(0.9932 0.0033 247.64);
  --information-2: oklch(0.9815 0.0096 243.26);
  --information-3: oklch(0.96 0.0199 236.71);
  --information-4: oklch(0.9373 0.03707151722297432 239.02663747595278);
  --information-5: oklch(0.906 0.0535 242.8);
  --information-6: oklch(0.8638 0.0686 243.18);
  --information-7: oklch(0.8092 0.0884 243.34);
  --information-8: oklch(0.7348 0.1211 243);
  --information-9: oklch(0.6493 0.193037 251.8132);
  --information-10: oklch(0.6211 0.1837 251.92);
  --information-11: oklch(0.5577 0.1889 253.01);
  --information-12: oklch(0.324 0.0965 258.96);
}

.dark {
  --primary-1: oklch(0.1932 0.0258 256.79);
  --primary-2: oklch(0.213 0.0295 258.84);
  --primary-3: oklch(0.2741 0.0669 253.96);
  --primary-4: oklch(0.317 0.1002 248.3);
  --primary-5: oklch(0.3649 0.1084 249.72);
  --primary-6: oklch(0.4161 0.1125 251.66);
  --primary-7: oklch(0.4748 0.1211 252.84);
  --primary-8: oklch(0.5413 0.1396 253.21);
  --primary-9: oklch(0.6493 0.193037 251.8132);
  --primary-10: oklch(0.689 0.1697 251.46);
  --primary-11: oklch(0.7679 0.134711 248.8439);
  --primary-12: oklch(0.9072 0.051146 238.2734);

  --neutral-1: oklch(0.178 0 0);
  --neutral-2: oklch(0.2134 0 180);
  --neutral-3: oklch(0.2537 0 180);
  --neutral-4: oklch(0.2832 0 191.31);
  --neutral-5: oklch(0.313 0 180);
  --neutral-6: oklch(0.349 0 180);
  --neutral-7: oklch(0.4023 0 164.05);
  --neutral-8: oklch(0.4877 0 180);
  --neutral-9: oklch(0.5379 0 225);
  --neutral-10: oklch(0.5843 0 191.31);
  --neutral-11: oklch(0.77 0 180);
  --neutral-12: oklch(0.9489 0 0);

  --danger-1: oklch(0.188 0.0133 19.39);
  --danger-2: oklch(0.2048 0.0215 14.74);
  --danger-3: oklch(0.2504 0.0643 13.11);
  --danger-4: oklch(0.2888 0.0959 14.29);
  --danger-5: oklch(0.3316 0.1066 15.53);
  --danger-6: oklch(0.3826 0.1114 16.93);
  --danger-7: oklch(0.4506 0.1206 18.91);
  --danger-8: oklch(0.5436 0.1465 21.44);
  --danger-9: oklch(0.6254 0.1935 22.98);
  --danger-10: oklch(0.6646 0.1773 23.09);
  --danger-11: oklch(0.7837 0.1619 22.29);
  --danger-12: oklch(0.9022 0.0528 6.14);

  --warning-1: oklch(0.1836 0.0126 77.27);
  --warning-2: oklch(0.2117 0.0179 78.68);
  --warning-3: oklch(0.2575 0.0437 74.56);
  --warning-4: oklch(0.2962 0.071462 76.2475);
  --warning-5: oklch(0.3369 0.0812 76.41);
  --warning-6: oklch(0.3871 0.0784 75.09);
  --warning-7: oklch(0.4532 0.0817 74.55);
  --warning-8: oklch(0.536 0.0964 73.57);
  --warning-9: oklch(0.8562 0.1778 81.37);
  --warning-10: oklch(0.9015 0.2065 96.98);
  --warning-11: oklch(0.8706 0.1754 85.07);
  --warning-12: oklch(0.9349 0.0715 85.99);

  --success-1: oklch(0.1883 0.0141 155.81);
  --success-2: oklch(0.211 0.0141 151.48);
  --success-3: oklch(0.2671 0.03 150.73);
  --success-4: oklch(0.3191 0.0522 150.41);
  --success-5: oklch(0.3668 0.0619 149.91);
  --success-6: oklch(0.4164 0.0721 149.34);
  --success-7: oklch(0.4683 0.0835 148.89);
  --success-8: oklch(0.5238 0.0973 148.25);
  --success-9: oklch(0.6516 0.1469 147.37);
  --success-10: oklch(0.6898 0.1454 147.64);
  --success-11: oklch(0.7798 0.142 148.46);
  --success-12: oklch(0.911 0.078 144.91);

  --information-1: oklch(0.1932 0.0258 256.79);
  --information-2: oklch(0.213 0.0295 258.84);
  --information-3: oklch(0.2741 0.0669 253.96);
  --information-4: oklch(0.317 0.1002 248.3);
  --information-5: oklch(0.3649 0.1084 249.72);
  --information-6: oklch(0.4161 0.1125 251.66);
  --information-7: oklch(0.4748 0.1211 252.84);
  --information-8: oklch(0.5413 0.1396 253.21);
  --information-9: oklch(0.6493 0.193037 251.8132);
  --information-10: oklch(0.689 0.1697 251.46);
  --information-11: oklch(0.7679 0.134711 248.8439);
  --information-12: oklch(0.9072 0.051146 238.2734);
}

@theme {
  --color-fd-background: var(--color-neutral-1);
  --color-fd-foreground: var(--color-neutral-12);
  --color-fd-muted: var(--color-neutral-2);
  --color-fd-muted-foreground: var(--color-neutral-11);
  --color-fd-popover: var(--color-neutral-2);
  --color-fd-popover-foreground: var(--color-neutral-12);
  --color-fd-card: var(--color-neutral-2);
  --color-fd-card-foreground: var(--color-neutral-12);
  --color-fd-border: var(--color-neutral-6);
  --color-fd-primary: var(--color-primary-9);
  --color-fd-primary-foreground: var(--color-primary-1);
  --color-fd-secondary: var(--color-neutral-1);
  --color-fd-secondary-foreground: var(--color-neutral-12);
  --color-fd-accent: var(--color-neutral-3);
  --color-fd-accent-foreground: var(--color-neutral-12);
  --color-fd-ring: var(--color-neutral-12);
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);

  --color-light: var(--light);
  --color-dark: var(--dark);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);
  --color-primary-7: var(--primary-7);
  --color-primary-8: var(--primary-8);
  --color-primary-9: var(--primary-9);
  --color-primary-10: var(--primary-10);
  --color-primary-11: var(--primary-11);
  --color-primary-12: var(--primary-12);

  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-11: var(--neutral-11);
  --color-neutral-12: var(--neutral-12);

  --color-danger-1: var(--danger-1);
  --color-danger-2: var(--danger-2);
  --color-danger-3: var(--danger-3);
  --color-danger-4: var(--danger-4);
  --color-danger-5: var(--danger-5);
  --color-danger-6: var(--danger-6);
  --color-danger-7: var(--danger-7);
  --color-danger-8: var(--danger-8);
  --color-danger-9: var(--danger-9);
  --color-danger-10: var(--danger-10);
  --color-danger-11: var(--danger-11);
  --color-danger-12: var(--danger-12);

  --color-warning-1: var(--warning-1);
  --color-warning-2: var(--warning-2);
  --color-warning-3: var(--warning-3);
  --color-warning-4: var(--warning-4);
  --color-warning-5: var(--warning-5);
  --color-warning-6: var(--warning-6);
  --color-warning-7: var(--warning-7);
  --color-warning-8: var(--warning-8);
  --color-warning-9: var(--warning-9);
  --color-warning-10: var(--warning-10);
  --color-warning-11: var(--warning-11);
  --color-warning-12: var(--warning-12);

  --color-success-1: var(--success-1);
  --color-success-2: var(--success-2);
  --color-success-3: var(--success-3);
  --color-success-4: var(--success-4);
  --color-success-5: var(--success-5);
  --color-success-6: var(--success-6);
  --color-success-7: var(--success-7);
  --color-success-8: var(--success-8);
  --color-success-9: var(--success-9);
  --color-success-10: var(--success-10);
  --color-success-11: var(--success-11);
  --color-success-12: var(--success-12);

  --color-information-1: var(--information-1);
  --color-information-2: var(--information-2);
  --color-information-3: var(--information-3);
  --color-information-4: var(--information-4);
  --color-information-5: var(--information-5);
  --color-information-6: var(--information-6);
  --color-information-7: var(--information-7);
  --color-information-8: var(--information-8);
  --color-information-9: var(--information-9);
  --color-information-10: var(--information-10);
  --color-information-11: var(--information-11);
  --color-information-12: var(--information-12);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@utility text-heading-72 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 4.5rem;
  letter-spacing: -0.05em;
}

@utility text-heading-64 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -0.05em;
}

@utility text-heading-56 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.05em;
}

@utility text-heading-48 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.05em;
}

@utility text-heading-40 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.05em;
}

@utility text-heading-32 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
}

@utility text-heading-24 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.05em;
}

@utility text-heading-20 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.625rem;
  letter-spacing: -0.05em;
}

@utility text-heading-18 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5625rem;
  letter-spacing: -0.05em;
}

@utility text-heading-16 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.05em;
}

@utility text-heading-14 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: -0.05em;
}

@utility text-label-20 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-18 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-16 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-14 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-13 {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-12 {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-label-10 {
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-paragraph-24 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}

@utility text-paragraph-20 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}

@utility text-paragraph-18 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}

@utility text-paragraph-16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}

@utility text-paragraph-14 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}

@utility text-paragraph-13 {
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0em;

  & strong {
    font-weight: 500;
  }
}
