@import "tailwindcss";
@import "../styles/variables/color.css";
@import "../styles/variables/typography.css";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
