@theme {
	--text-heading-72: 4.5rem;
	--text-heading-72--line-height: 1;
	--text-heading-72--letter-spacing: -0.05em;
	--text-heading-72--font-weight: 600;

	--text-heading-64: 4rem;
	--text-heading-64--line-height: 1;
	--text-heading-64--letter-spacing: -0.05em;
	--text-heading-64--font-weight: 600;

	--text-heading-56: 3.5rem;
	--text-heading-56--line-height: 1;
	--text-heading-56--letter-spacing: -0.05em;
	--text-heading-56--font-weight: 600;

	--text-heading-48: 3rem;
	--text-heading-48--line-height: 1.2;
	--text-heading-48--letter-spacing: -0.05em;
	--text-heading-48--font-weight: 600;

	--text-heading-40: 2.5rem;
	--text-heading-40--line-height: 1.2;
	--text-heading-40--letter-spacing: -0.05em;
	--text-heading-40--font-weight: 600;

	--text-heading-32: 2rem;
	--text-heading-32--line-height: 1.2;
	--text-heading-32--letter-spacing: -0.05em;
	--text-heading-32--font-weight: 600;

	--text-heading-24: 1.5rem;
	--text-heading-24--line-height: 1.3;
	--text-heading-24--letter-spacing: -0.05em;
	--text-heading-24--font-weight: 600;

	--text-heading-20: 1.25rem;
	--text-heading-20--line-height: 1.3;
	--text-heading-20--letter-spacing: -0.05em;
	--text-heading-20--font-weight: 600;

	--text-heading-16: 1rem;
	--text-heading-16--line-height: 1.4;
	--text-heading-16--letter-spacing: -0.05em;
	--text-heading-16--font-weight: 600;

	--text-heading-14: 0.875rem;
	--text-heading-14--line-height: 1.4;
	--text-heading-14--letter-spacing: -0.05em;
	--text-heading-14--font-weight: 600;

	--text-button-16: 1rem;
	--text-button-16--line-height: 1.2;
	--text-button-16--font-weight: 500;

	--text-button-14: 0.875rem;
	--text-button-14--line-height: 1.3;
	--text-button-14--font-weight: 500;

	--text-button-12: 0.75rem;
	--text-button-12--line-height: 1.4;
	--text-button-12--font-weight: 500;

	--text-label-20: 1.25rem;
	--text-label-20--line-height: 1.3;
	--text-label-20--font-weight: 400;

	--text-label-18: 1.125rem;
	--text-label-18--line-height: 1.3;
	--text-label-18--font-weight: 400;

	--text-label-16: 1rem;
	--text-label-16--line-height: 1.3;
	--text-label-16--font-weight: 400;

	--text-label-14: 0.875rem;
	--text-label-14--line-height: 1.4;
	--text-label-14--font-weight: 400;

	--text-label-13: 0.813rem;
	--text-label-13--line-height: 1.4;
	--text-label-13--font-weight: 400;

	--text-label-12: 0.75rem;
	--text-label-12--line-height: 1.4;
	--text-label-12--font-weight: 400;

	--text-paragraph-24: 1.5rem;
	--text-paragraph-24--line-height: 1.4;
	--text-paragraph-24--font-weight: 400;

	--text-paragraph-20: 1.25rem;
	--text-paragraph-20--line-height: 1.6;
	--text-paragraph-20--font-weight: 400;

	--text-paragraph-18: 1.125rem;
	--text-paragraph-18--line-height: 1.6;
	--text-paragraph-18--font-weight: 400;

	--text-paragraph-16: 1rem;
	--text-paragraph-16--line-height: 1.5;
	--text-paragraph-16--font-weight: 400;

	--text-paragraph-14: 0.875rem;
	--text-paragraph-14--line-height: 1.4;
	--text-paragraph-14--font-weight: 400;

	--text-paragraph-13: 0.813rem;
	--text-paragraph-13--line-height: 1.4;
	--text-paragraph-13--font-weight: 400;
}
