:root {
  --display-128: 8rem;
  --display-128--line-height: 1;
  --display-128--letter-spacing: -0.05em;
  --display-128--font-weight: 600;

  --display-96: 6rem;
  --display-96--line-height: 1;
  --display-96--letter-spacing: -0.05em;
  --display-96--font-weight: 600;

  --display-84: 5.25rem;
  --display-84--line-height: 1;
  --display-84--letter-spacing: -0.05em;
  --display-84--font-weight: 600;

  --display-80: 5rem;
  --display-80--line-height: 1;
  --display-80--letter-spacing: -0.05em;
  --display-80--font-weight: 600;

  --heading-72: 4.5rem;
  --heading-72--line-height: 1;
  --heading-72--letter-spacing: -0.05em;
  --heading-72--font-weight: 600;

  --heading-64: 4rem;
  --heading-64--line-height: 1;
  --heading-64--letter-spacing: -0.05em;
  --heading-64--font-weight: 600;

  --heading-56: 3.5rem;
  --heading-56--line-height: 1;
  --heading-56--letter-spacing: -0.05em;
  --heading-56--font-weight: 600;

  --heading-48: 3rem;
  --heading-48--line-height: 1.2;
  --heading-48--letter-spacing: -0.05em;
  --heading-48--font-weight: 600;

  --heading-40: 2.5rem;
  --heading-40--line-height: 1.2;
  --heading-40--letter-spacing: -0.05em;
  --heading-40--font-weight: 600;

  --heading-32: 2rem;
  --heading-32--line-height: 1.2;
  --heading-32--letter-spacing: -0.05em;
  --heading-32--font-weight: 600;

  --heading-24: 1.5rem;
  --heading-24--line-height: 1.3;
  --heading-24--letter-spacing: -0.05em;
  --heading-24--font-weight: 600;

  --heading-20: 1.25rem;
  --heading-20--line-height: 1.3;
  --heading-20--letter-spacing: -0.05em;
  --heading-20--font-weight: 600;

  --heading-16: 1rem;
  --heading-16--line-height: 1.4;
  --heading-16--letter-spacing: -0.05em;
  --heading-16--font-weight: 600;

  --heading-14: 0.875rem;
  --heading-14--line-height: 1.4;
  --heading-14--letter-spacing: -0.05em;
  --heading-14--font-weight: 600;


  --button-16: 1rem;
  --button-16--line-height: 1.2;
  --button-16--font-weight: 500;

  --button-14: 0.875rem;
  --button-14--line-height: 1.4;
  --button-14--font-weight: 500;

  --button-12: 0.75rem;
  --button-12--line-height: 1.3;
  --button-12--font-weight: 500;


  --label-20: 1.25rem;
  --label-20--line-height: 1.6;
  --label-20--font-weight: 400;

  --label-18: 1.125rem;
  --label-18--line-height: 1.2;
  --label-18--font-weight: 400;

  --label-16: 1rem;
  --label-16--line-height: 1.2;
  --label-16--font-weight: 400;

  --label-14: 0.875rem;
  --label-14--line-height: 1.4;
  --label-14--font-weight: 400;

  --label-13: 0.813rem;
  --label-13--line-height: 1.2;
  --label-13--font-weight: 400;

  --label-12: 0.75rem;
  --label-12--line-height: 1.3;
  --label-12--font-weight: 400;


  --copy-24: 1.5rem;
  --copy-24--line-height: 1.5;
  --copy-24--font-weight: 400;

  --copy-20: 1.25rem;
  --copy-20--line-height: 1.8;
  --copy-20--font-weight: 400;

  --copy-18: 1.125rem;
  --copy-18--line-height: 1.6;
  --copy-18--font-weight: 400;

  --copy-16: 1rem;
  --copy-16--line-height: 1.5;
  --copy-16--font-weight: 400;

  --copy-14: 0.875rem;
  --copy-14--line-height: 1.4;
  --copy-14--font-weight: 400;

  --copy-13: 0.813rem;
  --copy-13--line-height: 1.4;
  --copy-13--font-weight: 400;
}