@theme {
  --heading-72: 4.5rem;
  --heading-72--line-height: 4.5rem;
  --heading-64: 4rem;
  --heading-64--line-height: 4rem;
  --heading-56: 3.5rem;
  --heading-56--line-height: 3.5rem;
  --heading-48: 3rem;
  --heading-48--line-height: 3.5rem;
  --heading-40: 2.5rem;
  --heading-40--line-height: 3rem;
  --heading-32: 2rem;
  --heading-32--line-height: 2.5rem;
  --heading-24: 1.5rem;
  --heading-24--line-height: 2rem;
  --heading-20: 1.25rem;
  --heading-20--line-height: 1.625rem;
  --heading-18: 1.125rem;
  --heading-18--line-height: 1.5625rem;
  --heading-16: 1rem;
  --heading-16--line-height: 1.5rem;
  --heading-14: 0.875rem;
  --heading-14--line-height: 1.25rem;

  --label-20: 1.25rem;
  --label-20--line-height: 1.3;
  --label-18: 1.125rem;
  --label-18--line-height: 1.3;
  --label-16: 1rem;
  --label-16--line-height: 1.3;
  --label-14: 0.875rem;
  --label-14--line-height: 1.4;
  --label-13: 0.813rem;
  --label-13--line-height: 1.4;
  --label-12: 0.75rem;
  --label-12--line-height: 1.4;
  --label-10: 0.625rem;
  --label-10--line-height: 1.4;

  --paragraph-24: 1.5rem;
  --paragraph-24--line-height: 1.4;
  --paragraph-20: 1.25rem;
  --paragraph-20--line-height: 1.6;
  --paragraph-18: 1.125rem;
  --paragraph-18--line-height: 1.6;
  --paragraph-16: 1rem;
  --paragraph-16--line-height: 1.5;
  --paragraph-14: 0.875rem;
  --paragraph-14--line-height: 1.4;
  --paragraph-13: 0.813rem;
  --paragraph-13--line-height: 1.4;
}

@utility text-heading-* {
  font-size: --value(--heading-*);
  font-weight: 600;
  line-height: --value(--heading-*--line-height);
  letter-spacing: -0.05em;

  & strong {
    font-weight: 700;
  }
}

@utility text-label-* {
  font-size: --value(--label-*);
  font-weight: 500;
  line-height: --value(--label-*--line-height);
  letter-spacing: -0.025em;

  & strong {
    font-weight: 600;
  }
}

@utility text-paragraph-* {
  font-size: --value(--paragraph-*);
  font-weight: 400;
  line-height: --value(--paragraph-*--line-height);
  letter-spacing: normal;

  & strong {
    font-weight: 500;
  }
}
