:root {
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;

  --leading-tighter: 1.1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  --display-large: 4.5rem;
  --display-medium: 3.75rem;
  --display-small: 3rem;
  --headline-large: 2.25rem;
  --headline-medium: 1.875rem;
  --headline-small: 1.5rem;
  --title-large: 1.25rem;
  --title-medium: 1.125rem;
  --title-small: 1rem;
  --body-large: 1.125rem;
  --body-medium: 1rem;
  --body-small: 0.875rem;
  --label-large: 0.875rem;
  --label-medium: 0.75rem;
  --label-small: 0.625rem;
}
