.base {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  height: 1.5rem;
  padding-inline: 0.5rem;
  font-size: var(--label-medium);
  font-weight: var(--weight-medium);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-tight);
  text-decoration-line: none;
  user-select: none;
  border-radius: calc(infinity * 1px);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke;

  & svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.intentPrimary {
  color: var(--color-primary-12);
  background-color: var(--color-primary-3);
}

.intentSecondary {
  color: var(--color-neutral-12);
  background-color: var(--color-neutral-3);
}
